* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px/1.33 "Alegreya Sans", sans-serif;
  color: #333;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  color: #ffffff;
  padding: 0 20px;
}

.container::after {
  content: "";
  display: block;
  clear: both;
}

header {
  background-color: #37475f;
  padding: 20px 0;
  text-align: center;
}

.logo {
  display: inline-block;
  background: rgba(255, 255, 255, .5);
  color: #37475f;
  padding: 8px 10px;
  text-transform: uppercase;
  font: bold 28px/1 Alegreya, serif;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  display: inline-block;
}


/*************** HOMEWORK BELOW Hover styles****/

nav a:hover {
  background: rgba(255, 255, 255, .5);
  transform: scale(1.2);
  color: #0e1012;
  font-weight: 400;
}

nav li {
  display: inline-block;
  list-style: none;
  padding-top: 10px;
}

.hero {
  background-color: #342e2e;
  text-align: center;
  padding: 80px 0;
  background-image: url(../img/hero.jpg);
  background-position: center;
  background-size: cover;
}

.hero a {
  color: rgba(255, 255, 255, .85);
}

.hero a:hover {
  color: #fff;
}

.hero h1 {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.2;
  animation-delay: .2s;
}

.hero pre {
  padding-bottom: 5px;
  font-size: 17px;
  animation-delay: .8s;
}

.hero p {
  animation-delay: 1.8s;
}

.pic {
  padding-top: 10px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto 10px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, .8);
  background: rgba(0, 0, 0, .5);
}

.pic img {
  width: 110%;
  height: auto;
}

.meIntro {
  padding: 15px 5px 0 5px;
  width: 100%;
  color: #0b0b0c;
  text-indent: 8px;
  text-align: justify;
  text-justify: inter-word;
}

.meIntro p:first-child {
  padding-bottom: 10px;
  text-indent: 8PX;
  color: gray;
}

@media (min-width: 700px) {
  .meIntro {
    font-size: 18px;
  }
  .meIntro p {
    margin-left: 225px;
  }
  .hero pre {
    font-size: 22px;
  }
  .hero p {
    font-size: 19px;
  }
  .logo {
    float: left;
  }
  nav {
    float: right;
  }
  nav li {
    padding: 0;
    line-height: 24px;
  }
  .pic {
    background: none;
    border: none;
    border-radius: 0;
    height: auto;
    position: absolute;
    width: 230px;
    top: -20px;
    left: 20px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  }
  /*Radial gradient to create shadow*/
  .pic::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 100%;
    background: radial-gradient(rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, 0) 70%);
    transform: translateY(50%);
  }
  .pic img {
    display: block;
    width: 100%;
  }
  .hero .container {
    position: relative;
    padding-left: 200px;
  }
  .hero h1 {
    font-size: 48px;
  }
}

@media (min-width: 1000px) {
  .meIntro p {
    margin-left: 350px;
  }
  .pic {
    width: 350px;
    top: -50px;
  }
  .hero {
    padding: 120px 0;
  }
  .hero h1 {
    font-size: 60px;
  }
  .hero .container {
    padding-left: 300px;
  }
}

@media (min-width: 1300px) {
  .meIntro {
    font-size: 22px;
  }
  .meIntro p {
    margin-left: 475px;
  }
  .pic {
    width: 450px;
    top: -80px;
  }
  .hero {
    padding: 160px 0;
  }
  .hero h1 {
    font-size: 72px;
  }
  .hero pre {
    font-size: 26px;
  }
  .hero p {
    font-size: 23px;
  }
  .hero .container {
    padding-left: 400px;
  }
}